<a href="https://colab.research.google.com/github/Tehreem-Asghar/python/blob/main/pandasClass2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
%pip install pandas pandera nptyping numpy

Requirement already satisfied: pandas in /usr/local/lib/python3.11/dist-packages (2.2.2)
Requirement already satisfied: pandera in /usr/local/lib/python3.11/dist-packages (0.23.1)
Requirement already satisfied: nptyping in /usr/local/lib/python3.11/dist-packages (2.5.0)
Requirement already satisfied: numpy in /usr/local/lib/python3.11/dist-packages (1.26.4)
Requirement already satisfied: python-dateutil>=2.8.2 in /usr/local/lib/python3.11/dist-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.11/dist-packages (from pandas) (2025.1)
Requirement already satisfied: tzdata>=2022.7 in /usr/local/lib/python3.11/dist-packages (from pandas) (2025.1)
Requirement already satisfied: packaging>=20.0 in /usr/local/lib/python3.11/dist-packages (from pandera) (24.2)
Requirement already satisfied: pydantic in /usr/local/lib/python3.11/dist-packages (from pandera) (2.10.6)
Requirement already satisfied: typeguard in /usr/local/lib/python3.11/dist-packages (from pandera) (4.4.2)
Requirement already satisfied: typing_inspect>=0.6.0 in /usr/local/lib/python3.11/dist-packages (from pandera) (0.9.0)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.11/dist-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)
Requirement already satisfied: mypy-extensions>=0.3.0 in /usr/local/lib/python3.11/dist-packages (from typing_inspect>=0.6.0->pandera) (1.0.0)
Requirement already satisfied: typing-extensions>=3.7.4 in /usr/local/lib/python3.11/dist-packages (from typing_inspect>=0.6.0->pandera) (4.12.2)
Requirement already satisfied: annotated-types>=0.6.0 in /usr/local/lib/python3.11/dist-packages (from pydantic->pandera) (0.7.0)
Requirement already satisfied: pydantic-core==2.27.2 in /usr/local/lib/python3.11/dist-packages (from pydantic->pandera) (2.27.2)

In [ ]:
import pandas as pd
import numpy as np
from nptyping import NDArray, Shape, Int64

total: int = 10000

s1: NDArray[Shape[str(total) + "5"], Int64] = np.random.randint(80, 100, (total, 5))
ss1: pd.DataFrame = pd.DataFrame(s1, columns=['s1', 's2', 's3', 's4', 's5'])

s2: NDArray[Shape[str(total) + "5"], Int64] = np.random.randint(70, 79, (total, 5))
ss2: pd.DataFrame = pd.DataFrame(s2, columns=['s1', 's2', 's3', 's4', 's5'])

s3: NDArray[Shape[str(total) + "5"], Int64] = np.random.randint(60, 69, (total, 5))
ss3: pd.DataFrame = pd.DataFrame(s3, columns=['s1', 's2', 's3', 's4', 's5'])

s4: NDArray[Shape[str(total) + "5"], Int64] = np.random.randint(50, 59, (total, 5))
ss4: pd.DataFrame = pd.DataFrame(s4, columns=['s1', 's2', 's3', 's4', 's5'])

s5: NDArray[Shape[str(total) + "5"], Int64] = np.random.randint(40, 49, (total, 5))
ss5: pd.DataFrame = pd.DataFrame(s5, columns=['s1', 's2', 's3', 's4', 's5'])

s6: NDArray[Shape[str(total) + "5"], Int64] = np.random.randint(33, 39, (total, 5))
ss6: pd.DataFrame = pd.DataFrame(s6, columns=['s1', 's2', 's3', 's4', 's5'])

s7: NDArray[Shape[str(total) + "5"], Int64] = np.random.randint(0, 32, (total, 5))
ss7: pd.DataFrame = pd.DataFrame(s7, columns=['s1', 's2', 's3', 's4', 's5'])

In [ ]:
ss1

      s1  s2  s3  s4  s5
0     88  97  98  96  80
1     97  90  81  86  98
2     97  87  84  87  90
3     93  80  87  96  83
4     90  83  85  90  97
...   ..  ..  ..  ..  ..
9995  84  99  90  85  93
9996  87  80  82  95  81
9997  85  91  86  95  81
9998  80  85  88  96  96
9999  87  80  85  83  83

[10000 rows x 5 columns]

# df.info()
* df.info() Pandas DataFrame ka structure aur summary details show karta hai. Iska kaam yeh hota hai:

ðŸ”¹ Columns ke names aur count

ðŸ”¹ Har column ka data type (dtype)

ðŸ”¹ Missing values (Null values) ka count

ðŸ”¹ Total memory usage

In [ ]:
df : pd.DataFrame = pd.concat([ss1])

display(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   s1      10000 non-null  int64
 1   s2      10000 non-null  int64
 2   s3      10000 non-null  int64
 3   s4      10000 non-null  int64
 4   s5      10000 non-null  int64
dtypes: int64(5)
memory usage: 390.8 KB

None

# df.describe()
* df.describe() ek summary statistics deta hai numerical columns ke liye. Yeh har column ke important statistical values return karta hai.

# Jo Details describe() Dega:
ðŸ”¹ count â†’ Total number of non-null values

ðŸ”¹ mean â†’ Average value

ðŸ”¹ std â†’ Standard deviation (kitna variation hai data mein)

ðŸ”¹ min â†’ Sabse chhoti value

ðŸ”¹ 25% (Q1) â†’ First quartile (lower 25% of data)

ðŸ”¹ 50% (Q2/median) â†’ Middle value (median)

ðŸ”¹ 75% (Q3) â†’ Third quartile (upper 75% of data)

ðŸ”¹ max â†’ Sabse badi value

In [ ]:
df.describe()

                 s1            s2            s3            s4            s5
count  10000.000000  10000.000000  10000.000000  10000.000000  10000.000000
mean      89.536600     89.427800     89.470400     89.486500     89.488400
std        5.776019      5.791454      5.740542      5.713588      5.769367
min       80.000000     80.000000     80.000000     80.000000     80.000000
25%       85.000000     84.000000     85.000000     85.000000     84.000000
50%       90.000000     89.000000     89.000000     90.000000     90.000000
75%       95.000000     94.000000     94.000000     94.000000     94.000000
max       99.000000     99.000000     99.000000     99.000000     99.000000

# df.head()
* df.head() DataFrame ke pehle 5 rows ko return karta hai. Yeh default 5 rows show karta hai, lekin aap chahein to custom number of rows bhi dekh sakte hain.

In [ ]:
print(df.head())
print("========================================================")
print(df.head(3)) # custom number of row

   s1  s2  s3  s4  s5
0  88  97  98  96  80
1  97  90  81  86  98
2  97  87  84  87  90
3  93  80  87  96  83
4  90  83  85  90  97
========================================================
   s1  s2  s3  s4  s5
0  88  97  98  96  80
1  97  90  81  86  98
2  97  87  84  87  90

# df.tail()
* df.tail() DataFrame ke last 5 rows ko return karta hai. Yeh default 5 rows show karta hai, lekin aap chahein to custom number of rows bhi dekh sakte hain.

In [ ]:
print(df.tail())
print("========================================================")
print(df.tail(2)) # custom number of row

      s1  s2  s3  s4  s5
9995  84  99  90  85  93
9996  87  80  82  95  81
9997  85  91  86  95  81
9998  80  85  88  96  96
9999  87  80  85  83  83
========================================================
      s1  s2  s3  s4  s5
9998  80  85  88  96  96
9999  87  80  85  83  83


# Apply operations on columms
* Extract one colum from dataFrame
  * dataframe['column']
      * Add new column
      * get column with space between columns text
  * dataframe.column     
      * not Add new column
      * not get column with space between columns text
* Extract two or more columns from dataframe
   * dataframe[['column1' , 'column2']]
       * pass list into dataframe

In [ ]:
df : pd.DataFrame = pd.concat([ss1])
print(df['s1'],'\n===========================================================') # Extract one colum from dataFrame
df['s8'] = 300 # Add new column

print(df ,'\n===========================================================')

print(df.s1,'\n===========================================================') # dataframe.column
print(df.s8,'\n===========================================================') # dataframe.column

# Extract two or more columns from dataframe

print(df[['s1','s2','s3']],'\n===========================================================')

0       99
1       96
2       89
3       89
4       93
        ..
9995    85
9996    99
9997    80
9998    86
9999    99
Name: s1, Length: 10000, dtype: int64
===========================================================
      s1  s2  s3  s4  s5   s8
0     99  82  98  83  82  300
1     96  99  98  88  95  300
2     89  93  85  91  98  300
3     89  98  81  89  81  300
4     93  95  95  87  83  300
...   ..  ..  ..  ..  ..  ...
9995  85  89  98  92  86  300
9996  99  85  83  85  86  300
9997  80  80  90  89  84  300
9998  86  98  98  92  94  300
9999  99  88  85  82  83  300

[10000 rows x 6 columns]
===========================================================
0       99
1       96
2       89
3       89
4       93
        ..
9995    85
9996    99
9997    80
9998    86
9999    99
Name: s1, Length: 10000, dtype: int64
===========================================================
0       300
1       300
2       300
3       300
4       300
       ...
9995    300
9996    300
9997    300
9998    300
9999    300
Name: s8, Length: 10000, dtype: int64
===========================================================
      s1  s2  s3
0     99  82  98
1     96  99  98
2     89  93  85
3     89  98  81
4     93  95  95
...   ..  ..  ..
9995  85  89  98
9996  99  85  83
9997  80  80  90
9998  86  98  98
9999  99  88  85

[10000 rows x 3 columns]
===========================================================

In [ ]:
df['s1'] + 10  # add 10 all valuse of column

0       109
1       106
2        99
3        99
4       103
       ...
9995     95
9996    109
9997     90
9998     96
9999    109
Name: s1, Length: 10000, dtype: int64

In [ ]:
df['s1'] =  df['s2'] + df['s3'] + df['s4'] + df['s5'] # add all valuse of column
df['s1']

0       345
1       380
2       367
3       349
4       360
       ...
9995    365
9996    339
9997    343
9998    382
9999    338
Name: s1, Length: 10000, dtype: int64

# apply custom function on multiple columns and return on column or more than one
* loc
  * dataframe[rows , columns]
        * exact labels value
* iloc
  * dataframe[rows,columns]
         * numerical indexing value
* at
   * cell value with exact label
* iat    
   * cell value with numerical index

In [ ]:
print(ss1[0:10],'\n===============================================================================') # direct silincing apply on rows index
print(ss1.iloc[1:11],'\n===============================================================================') # numpy silicing apply on columns and rows index
print(ss1.iloc[1:11 , 1:3],'\n===============================================================================')
print(ss1.loc[1:11],'\n===============================================================================') #
print(ss1.loc[1:11 , "s1":"s3"],'\n===============================================================================') # direct silincing apply on  columns and rows labels
print(ss1.at[0,"s1" ],'\n===============================================================================') # specific value
print(ss1.iat[0,0],'\n===============================================================================') # specific value

   s1  s2  s3  s4  s5
0  99  82  98  83  82
1  96  99  98  88  95
2  89  93  85  91  98
3  89  98  81  89  81
4  93  95  95  87  83
5  92  97  82  92  88
6  92  84  84  91  95
7  96  90  91  83  94
8  82  81  85  94  80
9  94  80  98  88  81
===============================================================================
    s1  s2  s3  s4  s5
1   96  99  98  88  95
2   89  93  85  91  98
3   89  98  81  89  81
4   93  95  95  87  83
5   92  97  82  92  88
6   92  84  84  91  95
7   96  90  91  83  94
8   82  81  85  94  80
9   94  80  98  88  81
10  92  97  98  88  88
===============================================================================
    s2  s3
1   99  98
2   93  85
3   98  81
4   95  95
5   97  82
6   84  84
7   90  91
8   81  85
9   80  98
10  97  98
===============================================================================
    s1  s2  s3  s4  s5
1   96  99  98  88  95
2   89  93  85  91  98
3   89  98  81  89  81
4   93  95  95  87  83
5   92  97  82  92  88
6   92  84  84  91  95
7   96  90  91  83  94
8   82  81  85  94  80
9   94  80  98  88  81
10  92  97  98  88  88
11  88  87  85  83  84
===============================================================================
    s1  s2  s3
1   96  99  98
2   89  93  85
3   89  98  81
4   93  95  95
5   92  97  82
6   92  84  84
7   96  90  91
8   82  81  85
9   94  80  98
10  92  97  98
11  88  87  85
===============================================================================
99
===============================================================================
99
===============================================================================

# .apply()
Pandas ka .apply() method har row ya column par ek function apply karne ke liye use hota hai. Yeh element-wise operation perform karne ke liye kaafi flexible hai.

In [57]:
import pandas as pd
import numpy as np
from typing import Any

# Sample DataFrame with student names and marks
data: dict[str, list[Any]] = {
    "Name": ["Ali", "Sana", "Hamza", "Ayesha", "Bilal"],
    "Maths": [85, 78, 92, 88, 76],
    "Science": [90, 82, 95, 85, 79],
    "English": [88, 76, 89, 84, 80]
}

dframe: pd.DataFrame = pd.DataFrame(data)
# Function to calculate average marks
def calculate_average(row: pd.Series) -> float:
    return (row["Maths"] + row["Science"] + row["English"]) / 3

# Apply function to calculate the average marks for each student
dframe["Average Marks"] = dframe.apply(calculate_average, axis=1)

# Function to assign grade based on average marks
def assign_grade(avg_marks: float) -> str:
    if avg_marks >= 90:
        return "A+"
    elif avg_marks >= 80:
        return "A"
    elif avg_marks >= 70:
        return "B"
    else:
        return "C"

# Apply function to assign grades
dframe["Grade"] = dframe["Average Marks"].apply(assign_grade)

# Display DataFrame
print(dframe)

# DataFrame Summary
print("\nData Types:\n", df.dtypes)
print("\nSummary:\n", df.describe())

     Name  Maths  Science  English  Average Marks Grade
0     Ali     85       90       88      87.666667     A
1    Sana     78       82       76      78.666667     B
2   Hamza     92       95       89      92.000000    A+
3  Ayesha     88       85       84      85.666667     A
4   Bilal     76       79       80      78.333333     B

Data Types:
 Name              object
Maths              int64
Science            int64
English            int64
Average Marks    float64
Grade             object
obtained         float64
Remarks           object
dtype: object

Summary:
            Maths    Science    English  Average Marks    obtained
count   5.000000   5.000000   5.000000       5.000000    5.000000
mean   83.800000  86.200000  83.400000      84.466667  337.866667
std     6.723095   6.379655   5.458938       5.909503   23.638011
min    76.000000  79.000000  76.000000      78.333333  313.333333
25%    78.000000  82.000000  80.000000      78.666667  314.666667
50%    85.000000  85.000000  84.000000      85.666667  342.666667
75%    88.000000  90.000000  88.000000      87.666667  350.666667
max    92.000000  95.000000  89.000000      92.000000  368.000000

In [58]:
def fn_obtained(Maths: int, Science: int, English: int, Average_Marks: float) -> float:
    # return s1 + s2 + s3 + s4 + s5
    return Maths + Science + English + Average_Marks

dframe['obtained'] = dframe[['Maths','Science', 'English' , 'Average Marks' ]].apply(lambda x: fn_obtained(*x) , axis=1)

dframe

     Name  Maths  Science  English  Average Marks Grade    obtained
0     Ali     85       90       88      87.666667     A  350.666667
1    Sana     78       82       76      78.666667     B  314.666667
2   Hamza     92       95       89      92.000000    A+  368.000000
3  Ayesha     88       85       84      85.666667     A  342.666667
4   Bilal     76       79       80      78.333333     B  313.333333

# Map fuction  for remarks

In [63]:
from typing import Dict

remark : Dict[str , str] = {
    "A+" : "Excellent",
    "A" : "Very Good",
    "B" : "Good",
    "C" : "Fair"
}


dframe['Remarks'] = dframe['Grade'].map(remark)

dframe

     Name  Maths Science  English  Average Marks Grade    obtained    Remarks
0     Ali     85      85       88      87.666667     A  350.666667  Very Good
1    Sana     78      78       76      78.666667     B  314.666667       Good
2   Hamza     92      92       89      92.000000    A+  368.000000  Excellent
3  Ayesha     88      88       84      85.666667     A  342.666667  Very Good
4   Bilal     76      76       80      78.333333     B  313.333333       Good

## Type casting on column names
* astype
* apply
   * datatype name (str , int , list)
   * function name (cell_value): transformation in function body

In [62]:
dframe["Maths"] = dframe["Maths"].astype(np.int16)
dframe.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 7 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Name           5 non-null      object
 1   Maths          5 non-null      int16
 2   Science        5 non-null      object
 3   English        5 non-null      int64
 4   Average Marks  5 non-null      float64
 5   Grade          5 non-null      object
 6   obtained       5 non-null      float64
dtypes: float64(2), int16(1), int64(1), object(3)
memory usage: 382.0+ bytes