<a href="https://colab.research.google.com/github/Tehreem-Asghar/python/blob/main/The_Math_%26_Date_Time_Calendar.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **The Date & Time**

Python's time module provides functions to work with time based on the epoch:

time.time(): Returns the current time as a floating-point number of seconds since the epoch.
time.gmtime(seconds): Converts seconds since the epoch to a time tuple in Coordinated Universal Time (UTC).
time.localtime(seconds): Converts seconds since the epoch to a time tuple in local time.

In [ ]:
import time

#  function Python mein current time in seconds return karta hai since the epoch (i.e., 1st January 1970, 00:00:00 UTC).

time = time.time()
print(time)

1745079000.3708262

# **localtime()**
 Python mein localtime() function current local time ko structured form mein return karta hai — yani time.struct_time object ke form mein deta hai.

In [ ]:
import time
time1 = time.localtime(time.time())
print(time1)

time.struct_time(tm_year=2025, tm_mon=4, tm_mday=19, tm_hour=16, tm_min=12, tm_sec=45, tm_wday=5, tm_yday=109, tm_isdst=0)

# **time.asctime()**
 function Python mein ek readable string format mein time return karta hai — yani structured time ko human-readable bana deta hai.

In [ ]:
import time
time2 = time.asctime(time.localtime(time.time()))
print(time2)

Sat Apr 19 16:15:38 2025

# The Calendar

# Getting the Calendar for a Month
The calendar module gives a wide range of methods to play with yearly and monthly calendars. Here, we print a calendar for a given month (Jan 2025).

In [ ]:
import calendar
cal = calendar.month(2025, 4)
print ("Here is the calendar:")
print (cal)

Here is the calendar:
     April 2025
Mo Tu We Th Fr Sa Su
    1  2  3  4  5  6
 7  8  9 10 11 12 13
14 15 16 17 18 19 20
21 22 23 24 25 26 27
28 29 30

In [ ]:
from datetime import date

date = date(2025 , 4 , 19)
print(date)

2025-04-19

In [ ]:
import datetime

x = datetime.datetime.now() #The date contains year, month, day, hour, minute, second, and microsecond.
print(x)

2025-04-19 16:29:46.641398

# **The strftime() Method**

In [ ]:
import datetime

x = datetime.datetime(2025, 4, 19)

print(x.strftime("%f")) #Display Microsecond 000000-999999
print(x.strftime("%A")) #Display the name of the Day
print(x.strftime("%Y")) #Display the Year
print(x.strftime("%B")) #Display the name of the month

000000
Saturday
2025
April

# **calendar()**

In [3]:
import calendar

print(calendar.calendar(2025))

                                  2025

      January                   February                   March
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
       1  2  3  4  5                      1  2                      1  2
 6  7  8  9 10 11 12       3  4  5  6  7  8  9       3  4  5  6  7  8  9
13 14 15 16 17 18 19      10 11 12 13 14 15 16      10 11 12 13 14 15 16
20 21 22 23 24 25 26      17 18 19 20 21 22 23      17 18 19 20 21 22 23
27 28 29 30 31            24 25 26 27 28            24 25 26 27 28 29 30
                                                    31

       April                      May                       June
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
    1  2  3  4  5  6                1  2  3  4                         1
 7  8  9 10 11 12 13       5  6  7  8  9 10 11       2  3  4  5  6  7  8
14 15 16 17 18 19 20      12 13 14 15 16 17 18       9 10 11 12 13 14 15
21 22 23 24 25 26 27      19 20 21 22 23 24 25      16 17 18 19 20 21 22
28 29 30                  26 27 28 29 30 31         23 24 25 26 27 28 29
                                                    30

        July                     August                  September
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
    1  2  3  4  5  6                   1  2  3       1  2  3  4  5  6  7
 7  8  9 10 11 12 13       4  5  6  7  8  9 10       8  9 10 11 12 13 14
14 15 16 17 18 19 20      11 12 13 14 15 16 17      15 16 17 18 19 20 21
21 22 23 24 25 26 27      18 19 20 21 22 23 24      22 23 24 25 26 27 28
28 29 30 31               25 26 27 28 29 30 31      29 30

      October                   November                  December
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
       1  2  3  4  5                      1  2       1  2  3  4  5  6  7
 6  7  8  9 10 11 12       3  4  5  6  7  8  9       8  9 10 11 12 13 14
13 14 15 16 17 18 19      10 11 12 13 14 15 16      15 16 17 18 19 20 21
20 21 22 23 24 25 26      17 18 19 20 21 22 23      22 23 24 25 26 27 28
27 28 29 30 31            24 25 26 27 28 29 30      29 30 31

In [4]:
import  calendar

print(calendar.month(2025 ,4))

     April 2025
Mo Tu We Th Fr Sa Su
    1  2  3  4  5  6
 7  8  9 10 11 12 13
14 15 16 17 18 19 20
21 22 23 24 25 26 27
28 29 30

In [24]:
print(calendar.month(2025 ,4 ,3 ,1))

         April 2025
Mon Tue Wed Thu Fri Sat Sun
      1   2   3   4   5   6
  7   8   9  10  11  12  13
 14  15  16  17  18  19  20
 21  22  23  24  25  26  27
 28  29  30

In [6]:
month_name = list(calendar.month_name)
print(month_name)

['', 'January', 'February', 'March', 'April', 'May', 'June', 'July', 'August', 'September', 'October', 'November', 'December']

In [7]:
day_name = list(calendar.day_name)
print(day_name)

['Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday', 'Sunday']

In [13]:
calendar.weekheader(3)

'Thu Fri Sat Sun Mon Tue Wed'

In [19]:
print(calendar.setfirstweekday(0))

None

In [20]:
calendar.weekheader(1)

'M T W T F S S'

# **Datetime()**

In [25]:
import datetime

print(datetime.datetime.now())

2025-04-19 23:11:15.496152

In [27]:
print(datetime.datetime(2021 , 1 , 18))

2021-01-18 00:00:00

In [28]:
import math

# abs() returns the absolute value of a number
# In Python, abs() is a built-in function, which means it's a global function
# available in the standard library without needing to import any specific modules.
# You can use it directly in your code.
print("abs(-5) = ", abs(-5))  # outputs: 5

# pow() raises a number to a power
print("pow(2, 3) = ", pow(2, 3))  # outputs: 8

# round() rounds a number to a specified number of decimal places
print("round(3.14159, 2) = ", round(3.14159, 2))  # outputs: 3.14

# max() returns the largest of a set of numbers
print("max(1, 2, 3, 4, 5) = ", max(1, 2, 3, 4, 5))  # outputs: 5

# min() returns the smallest of a set of numbers
print("min(1, 2, 3, 4, 5) = ", min(1, 2, 3, 4, 5))  # outputs: 1

# math.sin() returns the sine of an angle in radians
print("math.sin(math.pi/2) = ", math.sin(math.pi/2))  # outputs: 1.0

# math.cos() returns the cosine of an angle in radians
print("math.cos(0) = ", math.cos(0))  # outputs: 1.0

# math.tan() returns the tangent of an angle in radians
print("math.tan(math.pi/4) = ", math.tan(math.pi/4))  # outputs: 1.0

# math.sqrt() returns the square root of a number
print("math.sqrt(9) = ", math.sqrt(9))  # outputs: 3.0

# math.factorial() returns the factorial of a number
print("math.factorial(5) = ", math.factorial(5))  # outputs: 120

# math.log() returns the natural logarithm of a number
print("math.log(10) = ", math.log(10))  # outputs: 2.302585092994046

# math.log10() returns the base-10 logarithm of a number
print("math.log10(100) = ", math.log10(100))  # outputs: 2.0

# math.exp() returns the value of e raised to a power
print("math.exp(2) = ", math.exp(2))  # outputs: 7.38905609893065

# math.ceil() returns the smallest integer greater than or equal to a number
print("math.ceil(4.7) = ", math.ceil(4.7))  # outputs: 5

# math.floor() returns the largest integer less than or equal to a number
print("math.floor(4.7) = ", math.floor(4.7))  # outputs: 4

# math.pi is a constant representing the ratio of a circle's circumference to its diameter
print("math.pi = ", math.pi)  # outputs: 3.14159265359

# math.e is a constant representing the base of the natural logarithm
print("math.e = ", math.e)  # outputs: 2.718281828459045

# math.tau is a constant representing the ratio of a circle's circumference to its radius
print("math.tau = ", math.tau)  # outputs: 6.283185307179586

# math.inf is a constant representing infinity
print("math.inf = ", math.inf)  # outputs: inf

# math.nan is a constant representing "not a number"
print("math.nan = ", math.nan)  # outputs: nan

abs(-5) =  5
pow(2, 3) =  8
round(3.14159, 2) =  3.14
max(1, 2, 3, 4, 5) =  5
min(1, 2, 3, 4, 5) =  1
math.sin(math.pi/2) =  1.0
math.cos(0) =  1.0
math.tan(math.pi/4) =  0.9999999999999999
math.sqrt(9) =  3.0
math.factorial(5) =  120
math.log(10) =  2.302585092994046
math.log10(100) =  2.0
math.exp(2) =  7.38905609893065
math.ceil(4.7) =  5
math.floor(4.7) =  4
math.pi =  3.141592653589793
math.e =  2.718281828459045
math.tau =  6.283185307179586
math.inf =  inf
math.nan =  nan